.directory
.favicon.png
resources/unihan/ucd.*.xml
resources/unihan/ucd.*.zip
resources/unihan/Unihan_*.txt
resources/svg/*.svg
resources/svg-font/*.svg
resources/svg-text/*.svg
resources/saxon/*
resources/tmp/*
